/*
.header {
    margin:0;
    width: 100%;
    padding: .5rem 1rem;;
    border-bottom: 1px solid lightgray;
}

.header h1{
    margin:0;
    padding:0.5rem 1rem;
    font-size:1rem;
    background-color: var(--header-background);
    color:white;
    border-radius: 0.4rem;
    display:inline-flex;
}

.header input{
    padding: 0.3rem;
    margin-left: 1rem;
    border-radius: 0.4rem;
    border: 1px solid lightgray;
}

.header .btn.btn-link{
    margin-top: .5rem;
    padding:0.5rem 1rem;
    font-size:1rem;
    text-decoration: none;
    color: var(--bs-prymary);;

}

.header a.btn-primary{
    background-color: var(--bs-prymary);
    color:var(--bs-prymary-color);
    border-radius: 0.4rem;  
}
**/
.header {
    width: 100%;

    padding: 0.5rem 2rem;

    background: var(--header-background);
}

.header h1 {
    margin: 0;

    padding: 0.5rem 1rem;

    font-size: 1.25rem;

    background: black;
    color: white;

    border-radius: 0.4rem;
}

.header input[type="text"] {
    margin-left: 1rem;

    font-size: 1rem;

    padding: 0.3rem;

    border-radius: 0.25rem;

    background: #f9fafa;
    
}

.header .btn.btn-link {
    color: var(--bs-primary);

    text-decoration: none;
}

.header .btn.btn-primary {
    background: var(--bs-primary);

    color: var(--bs-primary-color);
}

/*.Header{}*/